
<html>
<head>
    <title>ToZIP</title>
    <style>
        body{
            background-color: rgba(240, 255, 248, 0); /* Цвет фона веб-страницы */
        }
        h1 {
            background-color: RGB(249, 201, 16); /* Цвет фона под заголовком */
        }

    </style>
</head>
<body>
<div align="center">


    <form action="/newuser" method="POST">
        Login:<br/><input type="text" name="login"><br/>
        Password:<br/><input type="password" name="password"><br/>
        <input type="submit" />

    </form>
</div>
</body>
</html>
